# Database (PostgreSQL)
DATABASE_URL="postgresql://smartpump_admin:smartpump_secure_password@localhost:5432/smartpump_db?schema=public"

# Redis
REDIS_URL="redis://:smartpump_redis_secret@localhost:6379"

# MQTT Broker
MQTT_BROKER_URL="mqtt://localhost:1883"
MQTT_TLS_BROKER_URL="mqtts://localhost:8883"
MQTT_WS_BROKER_URL="ws://localhost:9001"

# JWT Authentication
JWT_SECRET="smartpump_super_secret_jwt_key_at_least_32_bytes_long_production_ready!"

# Server Environment
NODE_ENV="development"
PORT=3000
